#contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 100vh;
}
#login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px double goldenrod;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    box-shadow: 5px 5px 5px;
}